.idea

# TODO: manage via large files
backend/resources
releases

__pycache__

# ----------------------------
# environments
# ----------------------------
.env
.env.production

# ----------------------------
# migrations
# ----------------------------
*/migrations/
backend/adb_app/adb/migrations/00*.py

# bigg database
bigg/bigg-v1.5.dump
bigg/bigg-v1.5.sqlite3

*.log
