.idea

# TODO: manage via large files
resources
releases


# ----------------------------
# environments
# ----------------------------
.env
.env.production

# ----------------------------
# migrations
# ----------------------------
*/migrations/
backend/adb_app/annotations/migrations/00*.py
