Django==2.2.3
psycopg2-binary>=2.8.3
gunicorn>=19.9.0


# rest endpoints
djangorestframework>=3.9.4
django-filter>=2.0
django-rest-swagger>=2.2.0
django-cors-headers>=2.4.0
djangorestframework_simplejwt>=4.3.0

# ---------------------------------
# Elastic Search (>=6.0 and <7.0)
# ---------------------------------
# django-elasticsearch-dsl only supports elasticsearch 6 (https://github.com/sabricot/django-elasticsearch-dsl/issues/170)

elasticsearch-dsl<7.0
django-elasticsearch-dsl>=6.4.2
# see https://github.com/barseghyanartur/django-elasticsearch-dsl-drf/pull/141
# django-elasticsearch-dsl-drf>=0.18
-e git+https://github.com/barseghyanartur/django-elasticsearch-dsl-drf.git#egg=django-elasticsearch-dsl-drf


# Developer Tools
ipdb>=0.11
ipython>=6.4.0
flake8>=3.7.7

# Testing
mock==2.0.0
factory-boy==2.11.1
django-nose>=1.4.5
nose-progressive>=1.5.1
coverage>=4.5.1

# reading environment variables
python-dotenv

# logging
json-logging>=0.1.1
coloredlogs>=10.0

requests

